.float_right{
  float: right !important;
}
.clearfix{
  &::after{
    content:'';
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
  }
}
.margin_bottom_10{
  margin-bottom: 10px;
}